.about-card-crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--color-dark);
  color: var(--color-light);
  height: 100vh;
}

.about-card-crud p {
  max-width: 800px;
}

.about-card-crud img {
  width: 300px;
}

@media (min-width: 576px) {
  .about-card-crud img {
    width: 500px;
  }
}
