.project-form-crud-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: sans-serif;
  height: 100vh;
}

.adjust {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}
.form-crud {
  background-color: var(--color-dark);
  padding: 40px;
  width: 100%;
  max-width: 900px;
}
.project-form-crud {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.project-form-crud {
  display: flex;
  flex-direction: column;
}

.project-form-crud-container input {
  margin-bottom: 10px;
}

.project-form-crud-container textarea {
  margin-bottom: 30px;
  height: 150px;
}

.form-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-button-container button {
  width: 80px;
  height: 50px;
}
.btn-form-cancel {
  margin-left: 20px;
  margin-bottom: 20px;
}

.project-img-crud {
  display: none;
}

.form-footer {
  background-color: var(--color-dark);
  color: var(--color-light);
}

@media (min-width: 992px) {
  .project-crud {
    margin: 0;
    width: 100%;
  }
  .project-img-crud {
    display: unset;
  }
  .project-img-crud img {
    width: 100%;
  }
}
