.about-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
}

.content-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.content-container p {
  max-width: 700px;
  font-size: 16px;
  text-align: justify;
}

.img-profile-container {
  width: 300px;
}

.img-profile-container img {
  width: 80%;
  border-radius: 50%;
}

#dark .about-container {
  background-color: var(--bg-dark-color);
  color: var(--color-light);
}

.social-media img {
  width: 80px;
}

.social-media {
  margin-top: 10px;
  max-width: 400px;
}

#dark .social-media {
  background-color: var(--social-bg-color);
  width: 100%;
  text-align: center;
}

#light .social-media {
  background-color: var(--social-bg-light-color);
  width: 100%;
  text-align: center;
}

.social-media img:first-child {
  margin-right: 30px;
}
.about-content {
  margin-top: 10px;
  padding: 10px;
}

@media (min-width: 992px) {
  .img-profile-container img {
    width: 100%;
  }
}
