.adm-navbar-container {
  padding: 30px;
}

.adm-nav-img {
  display: flex;
  width: 80px;
}

.adm-nav-img img {
  width: 100%;
  margin-right: 10px;
}

.adm-nav-img h4 {
  margin-top: 50px;
  margin-right: 30px;
}

.adm-navbar-container {
  background-color: var(--bg-nav-color-dark);
  color: var(--color-light);
  box-shadow: 2px 2px 2px 1px rgba(120, 115, 115, 0.1);
}

.adm-main-menu li a:hover {
  color: var(--bg-nav-color-green);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.adm-main-menu {
  display: flex;
  font-size: 18px;
  width: 75%;
  justify-content: right;
  padding-left: 100px;
}

.adm-main-menu li:first-child {
  margin-right: 20px;
}

a {
  color: var(--color-light);
}
