.main{
 display: flex;
 flex-direction: column;
 margin-top: 20px;
 
}

.home-container{
  display: flex;
  flex-direction: column;
}

#light .main {
    background-color: #fff;
    color: var(--color-dark);
  }
  
  #dark .main {
    background-color: var(--bg-color-dark);
    color: var(--color-light);
  }

  .main h1{
    width: 300px;
    font-size: 24px;
  }
  .main h1 h2{
    font-size: 25px;
    font-weight: 700;
  }

  .main h1 h2 {
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(13),
    blink 400ms steps(13) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 80%;
    }
  }
  @keyframes blink {
    from {
      border-color: black;
    }
    to {
      border-color: transparent;
    }
  }