.main {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.home-container {
  display: flex;
  flex-direction: column;
}

#light .main {
  background-color: #fff;
  color: var(--color-dark);
}

#dark .main {
  background-color: var(--bg-color-dark);
  color: var(--color-light);
}

.main h1 {
  width: 300px;
  font-size: 24px;
}
.main h2 {
  font-size: 25px;
  font-weight: 700;
}
