@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
html {
  background-color: var(--login-bg-color);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand";
  color: var(--light-color);
}

a {
  text-decoration: none;
}

#dark a {
  color: var(--color-light);
}

#light a {
  color: var(--color-dark);
}

ul li {
  list-style: none;
}

:root {
  --bg-color-light: rgb(255, 255, 255);
  --bg-color-dark: #000;

  --color-light: #fff;
  --color-dark: #000;

  --bg-nav-color-light: rgb(238, 238, 238);
  --bg-nav-color-dark: rgba(18, 17, 17, 0.98);
  --bg-nav-color-green: rgb(74, 153, 186);

  --social-bg-color: rgba(16, 15, 15, 0.589);
  --social-bg-light-color: rgba(174, 170, 170, 0.228);

  --form-color-light: rgba(255, 255, 255, 0.153);

  --login-dark-color: rgba(0, 0, 0, 0.089);
  --login-bg-color: rgba(90, 89, 89, 0.162);
}

.App {
  width: 100vw;
}

#light {
  background-color: var(--bg-color-light);
}

#dark {
  background-color: var(--bg-color-dark);
}

.switch {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 10px;
}

.switch label {
  margin-right: 10px;
}

#dark .switch {
  background-color: var(--bg-color-dark);
  color: var(--color-light);
}

#light .switch {
  background-color: var(--bg-color-light);
}

.base-card {
  border-radius: 20px;
}

.style-border {
  border-bottom: 1px solid var(--color-light);
  margin-top: 100px;
  padding-top: 10px;
}

#light .style-border h1 {
  color: var(--color-dark) !important;
  border-bottom: 1px solid var(--color-dark) !important;
}

.app-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.app-img {
  display: none;
  margin-left: 30px;
}

@media (min-width: 1020px) {
  .app-form {
    flex-direction: row;
  }
  .app-img {
    display: unset;
  }
  .app-img img {
    width: 200px;
  }
}
